.lol {
    display: inline-block;
    color: green;
    font-size: 14px;
    opacity: 1;
    transition: opacity 1s ease;
    transform: translate(-1px, -1px);

    &:hover {
        opacity: 0.25;
    }
}
