doctype html
html(lang='ru')
    head
        title
            | web-fish
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel="stylesheet", href="css/style.css")

    body

        p
            img(src="i/sample.png")

        p.lol
            | Hello world! This is HTML5 Boilerplate.

        script(src="js/all.js")
